<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veggie</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/app.css')}}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css"
    />
    <script src="https://unpkg.com/scrollreveal@4.0.0-beta.6"></script>

    <style>
        .modell{
 display:flex;
flex-direction:column;
align-items:center;
}
        footer .footer-content .social-icons{
            margin-bottom: 0rem;
        }
    </style>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <div class="header-content">
          <div class="top-menu scroll-reveal">
            <div class="menu">
              <div
                class="title-bar"
                data-responsive-toggle="main-nav"
                data-hide-for="medium"
              >
                <button
                  class="menu-icon dark"
                  type="button"
                  data-toggle="main-nav"
                ></button>
                <div class="title-bar-title">Menu</div>
              </div>

              <nav id="main-nav" data-animate="menu-in menu-out">
                <ul class="main-navigation">
                  <li>
                    <a class="m-active" href="#" data-text="Home">Home</a>
                  </li>
                  <li>
                    <a class="m-anim" href="#specials-grid" data-text="Specials"
                      >Buy Now</a
                    >
                  </li>
                  <li>
                    <a class="m-anim" href="#about-us" data-text="About"
                      >About</a
                    >
                  </li>
                  <li>
                    <a class="m-anim" href="#contact-us" data-text="Contact"
                      >Contact</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="a-slide slide1">
          <div class="container">
            <div
              class="bottom-section scroll-reveal"
              data-origin="right"
              data-distance="20%"
            >
              <h1 class="header-txt">
                Fresh Fruits and Vegetables delivered to your door step
              </h1>
              <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 1930 255.5"
                  style="enable-background: new 0 0 1930 255.5"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st0 {
                      fill: none;
                      stroke: #3c3c3c;
                      stroke-width: 10;
                      stroke-linecap: square;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <polyline
                    class="st0"
                    points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "
                  />
                  <polyline
                    class="st0"
                    points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "
                  />
                  <rect
                    x="921.9"
                    y="26.7"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)"
                    class="st0"
                    width="95"
                    height="95"
                  />
                  <rect
                    x="921.9"
                    y="99.7"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)"
                    class="st0"
                    width="95"
                    height="95"
                  />
                  <rect
                    x="940.3"
                    y="178.1"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)"
                    class="st0"
                    width="58.2"
                    height="58.2"
                  />
                </svg>
              </div>
              <!--.divider-->
            </div>
            <!--.bottom-section-->
          </div>
        </div>
        <div class="a-slide slide2">
          <div class="container">
            <div class="bottom-section">
              <h1 class="header-txt">
                Real Food. 
                Real Health.
              </h1>
              <div class="divider">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 1930 255.5"
                  style="enable-background: new 0 0 1930 255.5"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st0 {
                      fill: none;
                      stroke: #3c3c3c;
                      stroke-width: 10;
                      stroke-linecap: square;
                      stroke-miterlimit: 10;
                    }
                  </style>
                  <polyline
                    class="st0"
                    points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "
                  />
                  <polyline
                    class="st0"
                    points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "
                  />
                  <rect
                    x="921.9"
                    y="26.7"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)"
                    class="st0"
                    width="95"
                    height="95"
                  />
                  <rect
                    x="921.9"
                    y="99.7"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)"
                    class="st0"
                    width="95"
                    height="95"
                  />
                  <rect
                    x="940.3"
                    y="178.1"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)"
                    class="st0"
                    width="58.2"
                    height="58.2"
                  />
                </svg>
              </div>
              <!--.divider-->
            </div>
            <!--.bottom-section-->
          </div>
        </div>
      </div>
    </header>

    <section
      id="specials-grid"
      class="month-specials"
      data-scroll-reveal="enter from the bottom after 0.9s"
    >
      <div class="container">
        <h1 class="header-txt">Buy Now</h1>
        <div class="divider">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 1930 255.5"
            style="enable-background: new 0 0 1930 255.5"
            xml:space="preserve"
          >
            <style type="text/css">
              .st0 {
                fill: none;
                stroke: #3c3c3c;
                stroke-width: 10;
                stroke-linecap: square;
                stroke-miterlimit: 10;
              }
            </style>
            <polyline
              class="st0"
              points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "
            />
            <polyline
              class="st0"
              points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "
            />
            <rect
              x="921.9"
              y="26.7"
              transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)"
              class="st0"
              width="95"
              height="95"
            />
            <rect
              x="921.9"
              y="99.7"
              transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)"
              class="st0"
              width="95"
              height="95"
            />
            <rect
              x="940.3"
              y="178.1"
              transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)"
              class="st0"
              width="58.2"
              height="58.2"
            />
          </svg>
        </div>
        <!--.divider-->
        <div class="modell">
          <h2>Scan here!</h2><br>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    Label: {{ messages[0] }}
    {% endif %}
    {% endwith %}
</p>
<br>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

        </div>
        <!--.specials-content-->
      </div>
      <!--.container-->
    </section>
    <!--.month-specials-->

    <section id="about-us" class="about">
      <div class="container">
        <div class="about-content">
          <h1 class="header-txt scroll-reveal">About us</h1>
          <div class="divider scroll-reveal">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 1930 255.5"
              style="enable-background: new 0 0 1930 255.5"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                  stroke: #3c3c3c;
                  stroke-width: 10;
                  stroke-linecap: square;
                  stroke-miterlimit: 10;
                }
              </style>
              <polyline
                class="st0"
                points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "
              />
              <polyline
                class="st0"
                points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "
              />
              <rect
                x="921.9"
                y="26.7"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)"
                class="st0"
                width="95"
                height="95"
              />
              <rect
                x="921.9"
                y="99.7"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)"
                class="st0"
                width="95"
                height="95"
              />
              <rect
                x="940.3"
                y="178.1"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)"
                class="st0"
                width="58.2"
                height="58.2"
              />
            </svg>
          </div>
          <!--.divider-->
          <p class="scroll-reveal" data-origin="top" data-distance="10%">
           Order groceries with just a picture!
          </p>
          <img
            class="signature scroll-reveal"
            data-origin="right"
            data-distance="20%"
            src="assets/signature.png"
          />
        </div>
      </div>
      <!--.container-->
    </section>
    <!--.about-->

    <a href="#0" class="cd-top">Top</a>

    <footer id="contact-us">
      <div class="container">
        <div class="footer-content">
          <h1 class="header-txt scroll-reveal">Contact</h1>
          <div class="divider scroll-reveal">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 1930 255.5"
              style="enable-background: new 0 0 1930 255.5"
              xml:space="preserve"
            >
              <style type="text/css">
                .st0 {
                  fill: none;
                  stroke: #3c3c3c;
                  stroke-width: 10;
                  stroke-linecap: square;
                  stroke-miterlimit: 10;
                }
              </style>
              <polyline
                class="st0"
                points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                                    717,171.5 "
              />
              <polyline
                class="st0"
                points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                                    1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "
              />
              <rect
                x="921.9"
                y="26.7"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)"
                class="st0"
                width="95"
                height="95"
              />
              <rect
                x="921.9"
                y="99.7"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)"
                class="st0"
                width="95"
                height="95"
              />
              <rect
                x="940.3"
                y="178.1"
                transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)"
                class="st0"
                width="58.2"
                height="58.2"
              />
            </svg>
          </div>
          <!--.divider-->
          <div class="contact-info scroll-reveal">
            <div class="info-address">
              <h3>Email</h3>
              <p>customerhelp@veggie.com</p>
            </div>
            <div class="reservations">
              <h3>Phone</h3>
              <p>+91 8025550114</p>
            </div>
          </div>
          <!--.contact-info-->
          <div
            class="contact-form scroll-reveal"
            data-origin="bottom"
            data-distance="20%"
          >
            <h3>Contact us</h3>
            <form>
              <input type="text" name="name" placeholder="Name" />
              <input type="email" name="email" placeholder="Email" />
              <textarea placeholder="Message"></textarea>
              <button class="send-form">Send</button>
            </form>
          </div>
          <!--.contact-form-->
         
          <!--.social-icons-->
      <!--.container-->
    </footer>

    <div id="preloader">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.2/what-input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"
    ></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script type="text/javascript">
      $('.slider').slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3500,
        arrows: false,
        fade: true,
        cssEase: 'linear',
      });
    </script>

    <script>
      $(window).on('load', function () {
        $('#preloader').fadeOut();
      });
    </script>
  </body>
</html>
